html,
body,
.container,
.row,
.main-map {
    height: 100%;
    width: 100%;
}

#map-container {
    height: 100%;
}

@media screen and (max-width: 992px) {
    #searchlist {
        z-index: 2000;
        width: 25em;
        position: fixed;
    }
}

#hamburger-icon {
    position: fixed;
    top: 20px;
    right: 50px;
}